
<mat-toolbar class="topnav">
    VIS-Labor Webshop TiLuMaRa
    <span class="app-toolbar-filler"></span>
    <span class="currentUserLabel" *ngIf="loggedIn">UserID: {{userid}}</span>
    <button class="btn btn-primary" (click)="logout()" *ngIf="loggedIn">Logout</button>
</mat-toolbar>
  <div class="flex-container">
  <mat-card *ngIf="!loggedIn">
    <h3>Login Required</h3>
    <form [formGroup]="loginForm">
      <div class="form-group">
        <label for="username">Username</label>
        <input formControlName="username" type="text" class="form-control" id="username" placeholder="admin">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input formControlName="password" type="password" class="form-control" id="password" placeholder="admin">
      </div>
      <button type="submit" class="btn btn-primary" (click)="login(loginForm.value)">Login</button>
    </form>
  </mat-card>
  <mat-card *ngIf="!loggedIn">
    <h3>Register New User</h3>
    <form [formGroup]="registerForm">
      <div class="form-group">
        <label for="newUsername">Username</label>
        <input formControlName="newUsername" type="text" class="form-control" id="newUsername" placeholder="admin">
      </div>
      <div class="form-group">
        <label for="firstname">firstname</label>
        <input formControlName="firstname" type="text" class="form-control" id="firstname" placeholder="admin">
      </div>
      <div class="form-group">
        <label for="lastname">lastname</label>
        <input formControlName="lastname" type="text" class="form-control" id="lastname" placeholder="admin">
      </div>
      <div class="form-group">
        <label for="peter">Password</label>
        <input formControlName="peter" type="text" class="form-control" id="peter" placeholder="admin">
      </div>
      <button type="submit" class="btn btn-primary" (click)="register(registerForm.value)">Register</button>
    </form>
  </mat-card>
  <div *ngIf="loggedIn">
    <mat-card>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <h3>Search Form</h3>
          <form [formGroup]="searchForm">
            <div class="form-group">
              <label for="categoryId">Category</label>
              <input formControlName="categoryId" type="text" class="form-control" id="categoryId" placeholder="Category" default="">
            </div>
            <div class="form-group">
              <label for="productName">Product Name</label>
              <input formControlName="productName" type="text" class="form-control" id="productName" placeholder="Name" default="">
            </div>
            <button type="submit" class="btn btn-primary" (click)="search(searchForm.value)">search</button>
          </form>
        </div>
        <div class="col-md-1"></div>
      </div>
    </mat-card>
    <mat-card style="width: 80vw">
      <mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
          <mat-cell *matCellDef="let product"> {{product.id}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Product </mat-header-cell>
          <mat-cell *matCellDef="let product"> {{product.name}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="price">
          <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
          <mat-cell *matCellDef="let product"> {{product.price}} &euro; </mat-cell>
        </ng-container>
        <ng-container matColumnDef="category">
          <mat-header-cell *matHeaderCellDef> Category </mat-header-cell>
          <mat-cell *matCellDef="let product"> {{getCategory(product.categoryId)}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="details">
          <mat-header-cell *matHeaderCellDef> Details </mat-header-cell>
          <mat-cell *matCellDef="let product"> {{product.details}} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </mat-card>
  </div>
</div>
